@import 'variables.css';

body {
    margin: 0;
    background-color: var(--color-banana-yellow);
}

header {
    display: flex;
    padding: 1.95vh 4.04vw 1.95vh 4.04vw;
    flex-flow: row wrap;
    align-content: center;
    align-items: center;
    justify-content: space-between;
}

header>h1 {
    margin: 0;
    font-family: var(--font-bitter);
    font-weight: 700;
    color: var(--color-white);
    cursor: pointer;
}

nav {
    display: flex;
    align-items: center;
    align-content: center;
    text-align: center;
}

nav>a {
    text-decoration: none;
    margin-right: 2.86vw;
    color: var(--color-white);
    font-family: Comfortaa;
    font-style: normal;
    font-weight: bold;
    line-height: 8px;
    letter-spacing: -0.0071em;
}

nav>a:last-child {
    margin: 0;
    color: var(--color-banana-yellow);
    background-color: var(--color-white);
    padding: 1.390625vh 1.43vw;
    border-radius: 4px;
    border: 1px solid var(--color-white);
}