@import url('https://rsms.me/inter/inter.css');
@import url('https://fonts.googleapis.com/css?family=Bitter:400,700&display=swap');
:root {
    --color-coral: #F7876F;
    --color-banana-yellow: #F5E29B;
    --color-white: #FFFFFF;
    --color-not-black: #333333;

    --font-inter: 'Inter', sans-serif;
    --font-bitter: 'Bitter', serif;
}
